<% include partials/header %>

<% include partials/main-nav %>

<section class="container">
	<h1 class="page-header text-center">Browse Book Store</h1>
	<form class="form-inline" action="/search" method="POST">
		<div class="col-sm-4 offset-sm-4">
			<div class="input-group bookcycle-search-bar">
				<input type="text" class="form-control" name="input" placeholder="Search Any Book" aria-label="Search Any Book"
				 aria-describedby="btnGroupAddon">
				<div class="input-group-append">
					<button class="input-group-text" type="submit" id="btnGroupAddon"><i class="fas fa-search" style="color: white"></i></button>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-3 category">
			<div class="sidebar">
				<section class="widget book-category">
					<h3 class="widget-title">Categories</h3>
					<div class="widget-content">
						<ul class="list-unstyled">
							<li>
								<% if (!author) { %>
								<a href="#">No Authors</a>
								<% } else { %>
								<a href="#">Author</a>
								<%} %>
								<ul class="list-unstyled children cat">
									<% author.forEach((AuthorName)=>{ %>
									<li><a href="/author/<%= AuthorName.name %>">
											<%= AuthorName.name %></a></li>
									<% }) %>
								</ul>
							</li>
							<li>
								<% if (!cat) { %>
								<a href="#">No Categories</a>
								<% } else { %>
								<a href="#">Genre</a>
								<%} %>
								<ul class="list-unstyled children cat">
									<% cat.forEach((item)=>{ %>
									<li><a href="/category/<%= item.name %>">
											<%= item.name %> </a></li>
									<% }) %>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		<div class="col-sm-9 bookcycle-cards">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-transparent p-0">
					<% if (input.length <= 0) { %>
					<li class="breadcrumb-item"><a href="#">All Books</a></li>
					<% } else{ %>
					<li class="breadcrumb-item"><a href="#">Search Results for
							<%=input%>
						</a></li>
					<li class="breadcrumb-item"><a href="/buy">(Cancel Search)</a></li>
					<% } %>
				</ol>
			</nav>

			<div class="row">
				<% docs.forEach((book) => { %>
				<div class="col-lg-4 col-md-4 col-sm-6 crd">
					<div class="book-loop mb-4 crd2">
						<div class="row">
							<div class="col-sm-6">
								<img class="bookcycle-card-img" src="<%= book.bookImg %>" alt="<%= book.name %>">
							</div>
							<div class="col-sm-6">
								<div class="bookcycle-card buy">
									<div class="bookcycle-card-header">
										<a href="/book/<%=book.id%>" style="color: inherit">
											<h4 class="bookcycle-card-title mb-1">
												<%= book.name %>
											</h4>
										</a>

									</div>
									<div class="bookcycle-card-body">
										<p class="bookcycle-card-author mb-1">
											<%= book.author %>
										</p>
										<p class="bookcycle-card-price mb-1">
											<%= book.price %> &#2547 by
										</p>
										<p class="bookcycle-card-price mb-1">
											<%= book.ownerName %>
										</p>
										<p class="bookcycle-card-price mb-1">
											<%= book.category %>
										</p>
									</div>
									<div class="bookcycle-card-footer">
										<a href="/book/<%=book.id%>"><button class="btn btn-outline-light btn-sm btn-block">Details</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</section>

<% include partials/footer %>