<% include partials/header %>

<% include partials/main-nav %>

<section class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="sidebar">
				<section class="widget user-info">
					<h3 class="widget-title">Balance: 0TK</h3>
					<div class="widget-content">
						<% if (!currentUser) { %>
						<img class="img-fluid" src="/images/default-girl-gravatar.png" alt="Sharika Hasan">
						<% } else { %>
						<img class="img-fluid" src="<%= currentUser.facebook.profilePic || currentUser.google.profilePic %>">
						<h1 class="user-name text-uppercase mt-4">
							<%= currentUser.local.name || currentUser.facebook.name || currentUser.google.name  %>
						</h1>
						<% } %>
						<div class="form-group">
							<button type="submit" class="btn bookcycle-btn">Edit Profile</button>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="col-sm-9 bookcycle-cards">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-transparent p-0">
					<li class="breadcrumb-item"><a href="#">Author</a></li>
					<li class="breadcrumb-item active" aria-current="page">Humayun Ahmed</li>
				</ol>
			</nav>

			<div class="row">
				<% docs.forEach((book) => { %>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="book-loop mb-4">
						<div class="row">
							<div class="col-sm-6">
								<img class="bookcycle-card-img" src="<%= book.bookImg %>" alt="<%= book.name %>">
							</div>
							<div class="col-sm-6">
								<div class="bookcycle-card-body">
									<h4 class="bookcycle-card-title mb-1">
										<%= book.name %>
									</h4>
									<p class="bookcycle-card-title mb-1">
										<%= book.author %>
									</p>
									<p class="bookcycle-card-title mb-1">
										<%= book.price %> &#2547;
									</p>
									<button class="btn btn-primary btn-sm btn-block">Details</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</section>

<% include partials/footer %>